{% extends "student_app/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student App</title>
</head>
<body class="home-background">
    {% block content %}
        <div class="home-container">
            <h3 class="title-home">Hello Bright Minds!!</h3>
            <h1 class="sub-tile-home">Welcome!...</h1>
            <h4 class="desc-home">Your Success Journey Starts Now!... Go Ahead.. <i class="fa-solid fa-face-smile-wink"></i> <i class="fa-solid fa-face-smile-wink"></i></h4>
        </div>
    {% endblock %}
</body>
</html>
